.color_expiringInTwoWeeks{
    background-color: #ffa94d !important;

}
.color_expiringInSixWeeks{
    background-color: #ffd43b !important;
}
.color_expired{
    background-color: #fa5252 !important;
}
.color_expiringGood{
    background-color: #69db7c !important;
}

.color_key_container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.color_key {
    padding: 0.5em;
}

.color_item {
    display: flex;
    align-items: center;
}
.color_circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

#certTable tbody {
    font-weight: bold;
}
#submitUrl {
    font-size: 2em;
}

#submitUrl:hover, .moreCertInfo:hover, .deleteBtn:hover {
    cursor: pointer;
    color: grey;
}

.certInfo_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.certInfo {
    padding: 1em;
}

.certLabel {
    font-weight: bold;
}

#userInputUrl {
    width: 20em;
    height: 2em;
}