.color_expiringInTwoWeeks{
    background-color: #ff922b !important;
}
.color_expiringInSixWeeks{
    background-color: #ffd43b !important;
}
.color_expired{
    background-color: #e03131 !important;
}
.color_expiringGood{
    background-color: #51cf66 !important;
}

.color_key_container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.color_key {
    padding: 0.5em;
}

.color_item {
    display: flex;
    align-items: center;
}
.color_circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

#certTable tbody {
    font-weight: bold;
}

#submitUrl:hover, .moreCertInfo:hover, .deleteBtn:hover {
    cursor: pointer;
    color: grey;
}